
*{
    font-size: 20px;
}

.numOfCamContainer {
    margin-bottom: 40px;
}

.element {
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 12px;
    width: 350px;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}

.currentTime {
    margin-bottom: 20px;
}

.currentTime input {
    margin-left: 20px;
}

.inpTime {
    margin-bottom: 12px;
}

.cameras {
    display: flex;
}